@media screen and (max-width: 1200px) {
  header,article,footer {
    width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  header,article,footer {
    width: 1000px;
  }
}
.clearfix{
  clear: both;
}