@media screen and (max-width: 1200px) {
  header,article,footer {
    width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  header,article,footer {
    width: 1000px;
  }
}
body{
  font: 14px "微软雅黑", Arial, Helvetica, sans-serif;
  background: url('../image/top.jpg') no-repeat center top #075498;
<<<<<<< HEAD
=======
  color:#fff;
>>>>>>> 454d61ad4faa7c7ccc1716f64acd7cdd6e17272e
}
header,article,footer{
  width: 1200px;
  margin: auto;
  overflow: hidden;
}
article{
  background: url('../image/articlebg.png') repeat;
}